.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  color: white; 
  background: black;
  font-color: #000000
}

.users {
  list-style: none;
}
.side-bar {
  position: absolute;
  left: 5%;
  top: 16%;
  width: 15%;
}

.main-content-with-search-box, .main-content-without-search-box {
  position: absolute;
  left: 24%;
  width: 75%;
  bottom: 10%;
  word-wrap: break-word;
  overflow-y: scroll;
}

.main-content-with-search-box {
	top: 24%;
}

.main-content-without-search-box {
  top: 16%;
}

.left-within-main {
	float: left;
	width: 55%;
}

.right-within-main {
	float: right;
	width: 44%;
}

.search-box {
  position: absolute;
  left: 24%;
  top: 16%;
  width: 75%;
  height: 6%;
  overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.main-child {
	width: 100%;
}

.thumb {
  margin: -0.5em 2.5em 1.5em 0;
}


.centered {
  width: 40%;
  margin-left: 20%;
}

.center {
  text-align: center;
}

input[type=text], .txtarea{
margin-bottom: 1.5em;

 }
 
 .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border-top: none !important;
}
